<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDKt_lvj8agvlDvLpjvfGGnYdvwfFgKpE</string>
	<key>GCM_SENDER_ID</key>
	<string>3748566823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.duan</string>
	<key>PROJECT_ID</key>
	<string>prj-1-ea1ef</string>
	<key>STORAGE_BUCKET</key>
	<string>prj-1-ea1ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3748566823:ios:4e7614af536e61eaebbb02</string>
</dict>
</plist>